@model Playlist.Models.Home.IndexModel

@{
    ViewBag.Title = "Playlist";
}

<header>
	<h1>Playlist</h1>
	<img class="dim" src="images/favicon.png"/>
	Welcome to the playlist application. <br/>
	CLR version: @Model.ClrVersion <br/>
	Cassandra version: @Model.CassandraVersion <br/>
	Cluster name: @Model.CassandraClusterName
</header>

<section class="menu">
	<h1>Places to Go:</h1>
	<nav>
		<a href="playlists">My Playlists</a>
		<a href="tracks">Visit the Song Database</a>
		<a href="stats">Statistics</a>
	</nav>
</section>