<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>@ViewBag.Title</title>
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="stylesheet" href="css/playlist.css">
    </head>
    <body>
        @RenderBody()
    </body>
</html>