td.tracktable {
    font-size: 18px;
    font-weight: bold;
}

table.tracktable {
    border: 2px black;
}

body {
    background: #435a6b;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

*, *:after, *::before {
    box-sizing: border-box;
}

article, aside, footer, header, hgroup, nav, section {
    display: block;
}

header {
    margin: 0 auto;
    margin-top: -20px;
    padding: 15px 1em 1em;
    text-align: center;
    color: #89867e;
    font-family: 'Lato', Arial, sans-serif;
    background: #F2F2F2;
}

a {
    line-height: 44px;
    perspective: 1000px;
}

section {
    margin: 0 auto;
    text-align: center;
}

.info {
    color: #fff;
    text-align: left;
    margin: 0 auto;
}

hr {
    border: 0;
    height: 1px;
}

.table tr:nth-child(even) {
    background: #ccc;
}

.table tr:nth-child(odd) {
    background: #fff;
}

.table {
    padding: 10px;
    margin: 0 auto;
}

    .table td {
        padding: 3px;
    }

h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
}

h2, label {
    font-size: 1.4em;
    color: #ccc;
    clear: both;
}

.menu {
    background: #435a6b;
    padding: 1em;
    text-align: center;
}

    .menu.small {
        padding: 0;
    }

        .menu.small a {
            margin: 4px;
            padding: 0;
            line-height: 25px;
        }

    .menu a {
        position: relative;
        display: inline-block;
        margin: 15px 25px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 1.35em;
    }

        /* Effect 1: Brackets */
        .menu a::before,
        .menu a::after {
            display: inline-block;
            opacity: 0;
            transition: transform 0.3s, opacity 0.2s;
        }

        .menu a::before {
            margin-right: 10px;
            content: '[';
            transform: translateX(20px);
        }

        .menu a::after {
            margin-left: 10px;
            content: ']';
            transform: translateX(-20px);
        }

        .menu a:hover::before,
        .menu a:hover::after,
        .menu a:focus::before,
        .menu a:focus::after {
            opacity: 1;
            transform: translateX(0px);
        }

    .menu h1 {
        color: #cdcdcd;
    }

.dim {
    opacity: 0.4;
}


.login_form {
    /* Size and position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.field_plus {
    width: 25px;
}

.field_track {
    width: 200px;
}

.field_genre {
    width: 200px;
}

.field_sec {
    width: 100px;
}

a:link, a:visited {
    color: #fff;
}

.login_form h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.login_form input[type=text],
.login_form input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: #475b66;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.login_form input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.login_form input[type=text]:hover,
.login_form input[type=password]:hover {
    border-color: #333;
}

.login_form input[type=text]:focus,
.login_form input[type=password]:focus,
.login_form button:focus {
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .login_form input[type=text]:focus,
.no-boxshadow .login_form input[type=password]:focus {
    outline: 1px solid white;
}

.login_form button, .track_delete {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;
    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.alphabet {
    font-size: 12px;
}

#playlist_tracks {
    margin-bottom: 15px;
}

#picker iframe {
    width: 800px;
    height: 1200px;
    border: 1px #a9a9a9 dashed;
}

.track_delete {
    width: 200px;
    display: block;
}

.tracktable {
    width: 800px;
    margin: 0 auto;
}

.playlist_form {
    margin: 0 auto;
    width: 800px;
}

.login_form button[type=submit]:hover {
    box-shadow: inset 0 1px rgba(255,255,255,0.2), inset 0 20px 30px rgba(99,64,86,0.5);
}

section.tracks {
    margin: 0 auto;
    width: 900px;
    color: #fff;
    font-size: 1em;
}

.error {
    width: 280px;
    margin: 0 auto;
    color: #ff0000;
    background: #bbb;
    padding: 15px;
    border-radius: 19px;
}
/* Fallback */
.no-boxshadow .login_form input[type=submit]:hover {
    background: #594642;
}

.login_form label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

    .login_form label:hover ~ input {
        border-color: #333;
    }

.no-placeholder .login_form label {
    display: block;
}

#artist_table {
    text-transform: none;
}

#not_implemented {
    font-size: 8em;
}

.menu.small table {
    margin: 0 auto;
}
