@model Playlist.Models.Login.LoginModel

<section class="menu small">
    <a href="@Url.Action("Index", "Home")">Home</a>
</section>

@Html.ValidationSummary(null, new { @class = "error" })

<form id="form1" name="form1" class="login_form" method="post" action="@Url.Action("LoginSubmit", "Login")">
    <h1>PLAYLIST LOGIN</h1>
    <p>
        <label for="username">User Name</label>
        <input id="username" type="text" name="username" placeholder="Enter your user name here" required>
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" required>
    </p>

    <p>
        <button type="submit" name="button" id="login" value="login">Login</button>
        <button type="submit" name="button" id="register" value="newAccount">I Don't Have an Account</button>
    </p>
</form>
